{% extends "bootstrap_layout.html" %}

{% block content %}

<h2>About</h2>

    <p> This data comes from College Scorecard a government ran college information database. Access the website using this link: https://collegescorecard.ed.gov.

        Admissions Data: <br>
        <br>
        Median SAT: The median SAT score of enrolled students. This is the sum of the math and the verbal scores. <br>
        Median Math SAT: The median math SAT score of enrolled students. <br>
        Median Verbal SAT: The median verbal SAT of enrolled students. <br>
        Median ACT: The median ACT score of enrolled students. <br>
        Acceptance Rate: The percent of applicants who get accepted. <br>  

        Student Life Data: <br>
        <br>
        Retention Rate: The percentage of first-year undergraduate students who continue at the school the next year. <br>
        Location: A description of how rural/urban the school is and how close it is to a city/town. <br>
        Demograpgic Statistics: Indicate the percentage of students who identify as a particular race/ethnicity. Percents may not add up to 100%. <br>

        Student Outcome Data: <br>
        <br>
        Graduation Rate: The 4-year graduation rate for the particular university. <br>
        Salary Information: The average student salary at the specified years after entry.  '10-years post-entry' refers to 10-years after the student enters college. <br>


    </p>

 {% endblock %}