{% extends "bootstrap_layout.html" %}

{% block content %}

<h2>About the Data</h2>
    <p> This data comes from College Scorecard a government ran college information database. 
        College Scorecard was created in 2015 by the Obama administration to add transparency to the college admissions process. 
        This data has helped students and families find the best-fit colege and asses the costs and benefits of certain colleges and majors.
        Visit the official college scorecard website for more comprehencsive information about varius colleges: https://collegescorecard.ed.gov. 
        <br>
    <h3>Admissions Data</h3>
        Median SAT: The median SAT score of enrolled students. This is the sum of the math and the verbal scores. <br>
        Median Math SAT: The median math SAT score of enrolled students. <br>
        Median Verbal SAT: The median verbal SAT of enrolled students. <br>
        Median ACT: The median ACT score of enrolled students. <br>
        SAT/ACT Range: The 25th percentile and 75th percentile scores for that exam. <br>
        Acceptance Rate: The percent of applicants who get accepted. <br>  
        *A school is a 'reach' school if the student scores below its 25th percentile. Typically students in this range are 'special interest' groups, such as legacies & athletes.<br>
        *A school is a 'safety' school if the student scores above its 75th percentile. <br>
        *A student is more likely to get a scholarship if his/her score is above the 75th percentile. <br>
        <br>
    <h3>Tuition Data: </h3>
        In-State Tuition: The sticker price for students who are a resident of the state which the university is located. <br>
        Out-Of-State Tuition: The sticker price for students who do not live in the same state as the university. <br>
        *For private universities, the tuition is typically the same for in-state and out-of-state students. <br>
        *The tuition shown represents the sticker price, so don't worry if you can't afford it! Many of the most expensive schools give generous financial aid packages to help students pay for college! <br>
        *The tuition shown does not include room and board and other expenses, which can often add $10,000-$15,000 to the total cost. <br>
        <br>
    <h3>Student Life Data: </h3>
        Retention Rate: The percentage of first-year undergraduate students who continue at the school the next year. <br>
        Location: A description of how rural/urban the school is and how close it is to a city/town. <br>
        Demograpgic Statistics: Indicate the percentage of students who identify as a particular race/ethnicity.<br>
        *The percents may not add up to 100% due to discrepancies in data collection. <br>
        <br>
    <h3>Student Outcome Data: </h3>
        Graduation Rate: The 4-year graduation rate for the particular university. <br>
        Salary Information: The average student salary at the specified years after entry.  '10-years post-entry' refers to 10-years after the student enters college. <br>
        *Post-graduation salary can depend on many things, such as major, career field, and location of emplyment.  <br>
        *Use this data in conjunction statistics on major and career salaries to get a more accurate picture of student outcomes.<br>
        *Most universities have extensive post-graduation reports on their career center website. <br>
        <br>

    </p>

 {% endblock %}