{% extends "bootstrap_layout.html" %}

{% block content %}

    <h2>Quick Facts For {{ results["College"] }}</h2><br>

    <!-- TODO: consider using a table instead of a list -->
    <!-- TODO: consider adding images using the provided icon urls -->
    <ul>
        <h3>Admissions Information</h3>
        <p> 
             Median SAT: {{ results["Average SAT"] }}, Range: {{ results["lower_SAT"] }}-{{ results["upper_SAT"] }} <br>
             Median Math SAT: {{ results["Average Math SAT"] }}, Range: {{ results["lower_math"] }}-{{ results["upper_math"] }} <br> 
             Median Verbal SAT: {{ results["Average Verbal SAT"] }}, Range: {{ results["lower_verbal"] }}-{{ results["upper_verbal"] }} <br> 
             Median ACT: {{ results["Average ACT"] }}, Range: {{ results["lower_ACT"] }}-{{ results["upper_ACT"] }} <br>
             Acceptance Rate: {{ results["Acceptance Rate"] }} <br>

        <h3>Tuition</h3>
        <p>
             In-State Tuition: {{ results["In-state Tuition"] }} <br>
             Out-of-State Tuition: {{ results["Out-of-state Tuition"] }} <br>
        
        <h3>Student life</h3>
        <p>
            Location: {{ results["Location"] }} <br>
            Demographics: {{ results["Percent White"] }} white, {{ results["Percent Black"] }} black, {{ results["Percent Asian"] }} asian, {{ results["Percent Hispanic"] }} hispanic <br>
            Retention Rate: {{ results["Retention Rate"] }} <br>

        <h3>Student Outcomes</h3>
        <p>
            4-Year Graduation Rate: {{ results["Graduation Rate"] }} <br>
            Average Salary 6-Years Post Entry: {{ results["Salary 6-years Post Entry"] }} <br>
            Average Salary 8-Years Post Entry: {{ results["Salary 8-years Post Entry"] }} <br>
            Average Salary 10-Years Post Entry: {{ results["Salary 10-years Post-Entry"] }} <br>
        
    </ul>

{% endblock %}