{% extends "bootstrap_layout.html" %}

{% block content %}

<h2>Help</h2>

    <p> If you entered college is not working, it could be for one of these reasons: <br>
            1. The college you entered is not a 4-year undergraduate college <br>
            2. The exact name of the school was not entered ("Virginia Tech" is the common name, but its real name is "Virginia Polytechnic Institute And State University")  <br>
            3. The capitalization was not in the correct format. Make sure the first letter of each word is capitalized. <br>
            4. You did not hyphenate the specific campus ("University Of Maryland-College Park") <br>
    </p>

 {% endblock %}