{% extends "bootstrap_layout.html" %}

{% block content %}

<h3>If you are not getting results, it could be for one of these reasons:</h3>
    <p> 
            1. The college you entered is not a 4-year undergraduate college <br>
            2. The exact name of the school was not entered ("Virginia Tech" is the common name, but its real name is "Virginia Polytechnic Institute And State University")  <br>
            3. The formatting was incorrect. Make sure you capitalize the first letter in each word. <br>
            4. You did not hyphenate the specific campus (This is often the case for large state schools such as "University Of Maryland-College Park") <br>
    </p>

 {% endblock %}