{% extends "bootstrap_layout.html" %}

{% block content %}

<h2>College Quick-Facts</h2>

    <p>Enter a college to get some key data about admissions, student life, and student outcomes.  Be sure to spell the name of the school correctly and make all letters lowercase. </p>

    <form action="/college/data" method="POST">

        <label>College:</label>
        <input type="text" name="College" placeholder="" value="">
        <br>

        <button>Submit</button>
    </form>    
    
    <p> This application only covers 4-year undergraduate colleges.  <br>
        For schools with multiple campuses, the name must exactly specify the specific campus with a dash ("university of michigan" should be "university of michigan-ann arbor" of "university of michigan-flint").
        

    </p>
 {% endblock %}