{% extends "bootstrap_layout.html" %}

{% block content %}

<h2>College Quick-Facts</h2>

    <p>Enter a 4-year college to get some key data about admissions, tuition, student life, and student outcomes: </p>

    <form action="/college/data" method="POST">

        <label>College:</label>
        <input type="text" name="College" placeholder="" value="">
        <br>

        <button>Submit</button>
    </form>    
    <br>
    <p> Make sure the first letter of each word is capitalized ("Georgetown University").  <br>
        For schools with multiple campuses, the name must specify the campus with a dash ("University Of Michigan" should be "University Of Michigan-Ann Arbor" of "University Of Michigan-Flint").
        

    </p>
 {% endblock %}