<!DOCTYPE html>
<html lang="en">
<head>
  <title>College Quick Facts</title>
</head>
<body>

  <!-- SITE NAVIGATION -->
  <div class="container">
    <nav>
      <h1><a href="/">My Web App</a></h1>
      <ul>  
        <li><a href="/help">About</a></li>
      </ul>
    </nav>
    <hr>

    <!-- PAGE CONTENTS -->
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- FOOTER -->
    <footer>
      <hr>
      &copy; Copyright 2021 Domimnic Parente |
    </footer>
  </div>

</body>
</html>